{{- if and (eq .chezmoi.os "darwin") (joinPath .chezmoi.homeDir ".orbstack/ssh/config" | lstat) -}}
Include ~/.orbstack/ssh/config
{{- end }}

# TODO: Move private.config to 1Password

Include ~/.ssh/private.config
Host *
	IdentityAgent "SSH_AUTH_SOCK"
	ForwardAgent yes
	Compression yes
	ServerAliveInterval 0
	ServerAliveCountMax 3
	HashKnownHosts no
	UserKnownHostsFile ~/.ssh/known_hosts
	ControlMaster auto
	ControlPath /tmp/ssh-%C
	ControlPersist yes
