[submodule "vendor/sf-mono-nerd-font"]
	path = vendor/sf-mono-nerd-font
	url = https://github.com/shaunsingh/SFMono-Nerd-Font-Ligaturized.git
[submodule "vendor/zinit"]
	path = vendor/zinit
	url = https://github.com/zdharma-continuum/zinit
