[submodule "vendor/sf-mono-nerd-font"]
	path = vendor/sf-mono-nerd-font
	url = git@github.com:shaunsingh/SFMono-Nerd-Font-Ligaturized.git
[submodule "vendor/zinit"]
	path = vendor/zinit
	url = git@github.com:zdharma/zinit.git
