[submodule "vendor/sf-mono-nerd-font"]
	path = vendor/sf-mono-nerd-font
	url = https://github.com/shaunsingh/SFMono-Nerd-Font-Ligaturized.git
[submodule "vendor/pure"]
	path = vendor/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "vendor/zsh-completions"]
	path = vendor/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "vendor/lscolors"]
	path = vendor/lscolors
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "vendor/zsh-autosuggestions"]
	path = vendor/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
