[user]
	email = aarnav@tale.me
	name = Aarnav Tale
	signingkey = 31C78284
	github = tale
[tag]
	forceSignAnnotated = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.dotfiles/.gitignore
	hooksPath = ~/.dotfiles/githooks
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[protocol]
	version = 2
[submodule]
	fetchJobs = 4
[color]
	ui = auto
[alias]
	redo = commit --amend -S
