#!/usr/bin/env bash
{{- if and (eq .chezmoi.os "darwin") (not .workLaptop) }}

if [ ! -f "$HOME/.amp/bin/amp" ]; then
	echo "Installing Amp"
	curl -fsSL https://ampcode.com/install.sh | bash
fi

{{- end }}
