export EDITOR=nvim
export VISUAL=$EDITOR
export OS=$(uname -s)

{{- if eq .chezmoi.os "darwin" }}
export SSH_AUTH_SOCK={{ joinPath .chezmoi.homeDir ".config/1Password/agent.sock" }}

{{- if not .workLaptop }}
export IS_DEV_VM=$(test -d /opt/orbstack-guest && echo true || echo false)
{{- end }}
{{- end }}
