[user]
	name = "Aarnav Tale"
	email = "aarnavtale@icloud.com"
	signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL9d0H09lymx1EuydWAHYSd0pQLMRBf0ohSQSVCiBGRB"
[core]
	editor = "nvim"
	pager = "delta"
	excludesfile = "~/.gitignore"
[alias]
	redo = "commit --amend -S"
[gpg]
	format = ssh
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[interactive]
	diffFilter = "delta --color-only"
[merge]
	conflictstyle = "diff3"
[protocol]
	version = 2
[pull]
	rebase = true
[submodule]
	fetchJobs = 4
[filter "lfs"]
	required = true
	clean = "git-lfs clean -- %f"
	smudge = "git-lfs smudge -- %f"
	process = "git-lfs filter-process"
[delta]
	features = "color-only"
	zero-style = "dim syntax"
