[settings]
debug = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$

api_url = {{ onepasswordRead "op://Development/WakaTime Key/url" }}
api_key = {{ onepasswordRead "op://Development/WakaTime Key/credential" }}

{{ if .workLaptop -}}
hide_file_names = true
hide_branch_names = true
hide_dependencies = true
{{- end }}
