[user]
	name = "Aarnav Tale"
	{{- if not .workLaptop }}
	email = "aarnavtale@icloud.com"
	{{- else }}
	email = "atale@spear.ai"
	{{- end }}
	signingkey = {{ onepasswordRead "op://Development/GitHub Key/public key" }}
[core]
	editor = "nvim"
	pager = "delta"
	excludesfile = "~/.gitignore"
[alias]
	a = "add -p"
	c = "commit"
	p = "pull"
	poh = "push origin HEAD"
	pu = "push"
	redo = "commit --amend -S"
	s = "status -sb"
[gpg]
	format = "ssh"
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[interactive]
	diffFilter = "delta --color-only"
[merge]
	conflictstyle = "diff3"
[pull]
	rebase = true
[delta]
	features = "color-only"
	zero-style = "dim syntax"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
